.ctn {
  /* background-color: rgb(251, 144, 144); */
  margin: auto;
  width: 80%;
  height: 40%;
  padding: 10px;
  position: relative;
}
.title {
  color: #3880ff;
  font-size: 30px;
  font-weight: 700;
}
.btn-ctn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
ion-input[name="usernameOrEmail"],ion-input[name="password"]{
  background-color:#fff;
  border-radius:2px;
  margin-bottom: 10px;
}

form{
    margin: auto !important;
    padding: 20px;
    border-radius: 10px;
    background-color: #80808071;
    box-shadow: 1px 1px 5px 4px #00000024;
}